@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div>
<p strong color="red">Use this area to provide 
  additional information.</p>

<greeter name="Readers"></greeter>


<data-grid items="Model.Persons"></data-grid>
