@model TagHelperSample.Controllers.AboutViewModel
@{
    ViewData["Title"] = "About";
}
<h2>@ViewData["Title"]</h2>
<h3>@ViewData["Message"]</h3>

<p>Use this area to provide additional information.</p>

<greeter name=".NET Conf"></greeter>

<person-grid persons="Model.Persons"></person-grid>
